In [1]:
import pandas as pd

purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 2', 'Store 3'])
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 2  Kevyn   Kitty Litter   2.5
Store 3  Vinod      Bird Seed   5.0

# Maximum

In [8]:
df['Cost'].argmax()

0

In [12]:
df['Rate'] = [1, 2, 3]
df

          Name Item Purchased  Cost  Rate
Store 1  Chris       Dog Food  22.5     1
Store 2  Kevyn   Kitty Litter   2.5     2
Store 3  Vinod      Bird Seed   5.0     3

In [13]:
df['Rate'].argmax()

2

# find the max difference

In [16]:
(df['Cost']-df['Rate']).idxmax()

'Store 1'